@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    background-color: #f5f5f5;
    width: 1366px;
    height: 360px;
}

.header .logo {
    margin-left: 98px;
    margin-top: 63px;
}

.menu {
    float: right;
    margin-right: 167px;
    margin-top: 67px;
}

.menu li {
    float: left;
    list-style-type: none;
}

.menu li a {
    font-family: Montserrat;
    color: #212121;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    text-align: right;
    text-decoration: none;
    display: block;
    padding: 0 20px;
}

.menu li img {
    margin-top: 18px;
}

.menu li a:hover {
    color: #212121;
    border-bottom: 1px solid black;
}

.header h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    margin-left: 101px;
    margin-top: 171px;
}

.main .block {
    width: 370px;
    height: 370px;
    outline: 1px solid black;
    outline-color: #9c9c9c;
    float: left;
    margin: 1% 1.5%;
    opacity: 0.9;
    margin-left: 98px;
    margin-top: 71px;
    margin-right: -60px;
}

.main .block img {
    margin-left: 166px;
    margin-top: 48px;
}

.main .block h1 {
    font-size: 21.91px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);
}

.main .block h2 {
    color: #6c6c6c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20.082px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.main .block h3 {
    color: #212121;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20.082px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.main .block p {
    color: #6c6c6c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20.082px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);
}

.clearfix {
    clear: both;
}

.clr {
    height: 200px;
}

.footer1 {
    height: 384px;
    background-color: #f5f5f5;
    width: 1366px;
    margin: -200px auto 0;
    margin-top: -90px;
    display: flex;
    flex-flow: row wrap;
}

.footer1 .block1 h1 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-left: 99px;
    padding-top: 120px;
}


.footer1 .block1 p {
    color: #212121;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-left: 97px;
    margin-top: 24px;
}

.footer1 .block2 {
    width: 400px;
    display: block;
    margin-top: 120px;
    margin-left: 81px;
}

.footer1 .block2 h1 {
    color: #6c6c6c;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.footer1 .uf {
    float: left;
}

.footer1 .uf h2 {
    color: #212121;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 24px;
}

.footer1 .uf1 h2 {
    color: #212121;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 48px;
}

.footer1 .block3 {
    margin-top: 120px;
    margin-left: 79px;
}

.footer1 .block3 h1 {
    color: #6c6c6c;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer1 .block3 p {
    color: #212121;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer1 .block3 .email {
    margin-top: 20px;
    border-width: 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    width: 368px;
    height: 46px;
}

.footer1 .block3 .email:focus {
    color: chocolate;
    background-color: azure;
}

.block4 {
    margin-left: 98px;
}

.footer1 .block4 h1 {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.footer1 .block5 h1 {
    margin-left: 172px;
    color: #6c6c6c;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */
    text-align: right;
}

.footer1 .soc {
    margin-left: 158px;
}
